.form{
    border: 1px solid green;
    width: 300px;
    height: 450px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 1px 2px 3px green;
    border-radius: 10px;
}
.form input{
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}
.form button{
    margin-top: 15px;
    border-radius: 5px;
    padding: 5px;
    background-color: green;
    border: 1px solid green;
    color: aliceblue;
    font-size: 16px;
}